@import "../../scss/variables";

.container-border {
    border: 1px solid $pagination-border-color;
    border-radius: 0.25rem;
}

.empty-component {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    &--mini {
        @extend .container-border;
        height: 30vh;
    }
    &--mid {
        height: 67vh;
    }
    &--maxi {
        @extend .container-border;
        height: 70vh;
    }
    &--too-short {
        height: 36vh;
    }
    &__title {
        margin: 7px 10px 10px;
    }
}
