.user-form {
    display: flex;
}

.user-profile {

    &__title {
        margin-bottom: 9px;
    }
}

@media only screen and (max-width: 700px) {
    .user-profile {
        flex: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .primary-detail {
        margin-top: 10px;
        flex: 100%;
        max-width: 100%;
    }
}
