.charts {

    &__child-popover {

        .popover {
            min-width: 700px;
        }
    }

    .custom-input-search {
        cursor: pointer
    }
}

.list-group {
    cursor: pointer;
}

.bg-dark {
    background-color: #8395fb !important;
    border-color: #8395fb !important;
}
